
<div class="logo-container">
    <img class="logo" src="../../../assets/images/logo.png">
</div>

<div class="login-screen">
<h1>Login</h1>
  <form class="login-details">
    <p>Username</p>
    <input type="text" id="username" name="username" class="input-info"><br><br>
    <div class="password-layout">
        <p>Password</p>
        <a class="left-centered" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Forgot your password?</a>
    </div>
   
    <input type="password" id="password" name="password" class="input-info" ><br><br>
    <button class="login-button">Login</button>
    </form>

     <div class="no-acc-layout">
    <p>Don't have an account?<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" style="color:blue">Create one!</a></p>
    </div>
</div>

<div class="centered">
    <label for="languages">Language: </label> 
    <select style="padding: 8px;" name="languages" id="languages"> 
        <option value="English">English</option> 
        <option value="Croatian">Hrvatski</option> 
        <option value="Spanish">Španjolski</option> 
    </select>
</div>

  

