
<div class="logo-container">
    <img class="logo" src="../../../assets/images/logo.png">
</div>

<div class="login-screen">
    <div class="login-container">
        <h1>Login</h1>
        <form class="login-details">
            <p>Username<span>*</span></p>
            <input type="text" id="username" name="username" class="input-info"><br><br>

            <div class="password-layout">
                 <p>Password<span>*</span></p>
                 <a class="left-centered" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">Forgot your password?</a>
            </div>
            <div class="password-input-container">
                <input type="{{showPassword ? 'text': 'password'}}" id="password" name="password" class="input-info" >
                <i class="fa-solid fa-eye" (click)="togglePasswordVisibility()"></i>
            </div>
            <div class="button-layout">
                <button class="login-button">Login</button>
            </div>
            
         </form>
    </div>

    <div class="no-acc-layout">
    <p>Don't have an account? <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" style="color:blue">Create one!</a></p>
    </div>
</div>

<div class="languages-centered">
    <label for="languages">Language&nbsp;&nbsp;</label> 
    <select> 
        <option *ngFor="let language of appLCFG.languageOptions" 
        [value]="language.code">
      {{language.name}}
    </option>
    </select>
</div>

<div class="info-centered">
    <p [innerHTML]="appCFG.copyright"></p>
</div>



  

