
:host {
  display: block;
}

.logo {
  max-width: 50%;
  max-height: 50%;
}

.logo-container {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt-50 span {
  color: red;
}

.login-screen h1 {
  font-size: large;
  margin-bottom: 20px;
  font-family: monospace;
}


.no-acc-layout {
  background-color: #f7f7f8;
  text-align: center;
}

.no-acc-layout a{
  color:blue
}
  
.password-layout {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.password-input-container input{
  position: relative;
  top: -6px;
}

.password-layout p,a {
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.left-centered{
  color: blue;
}

.languages-centered {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info-centered {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: small;
  color: lightgray;
}

i {
    cursor: pointer;
}

.languages-centered select {
  padding: 8px;
}

.languages-centered label {
  margin-top: auto;
  margin-bottom: auto;
}

