:host {
  display: block;
}

.logo {
  max-width: 50%;
  max-height: 50%;
}

.logo-container {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-screen {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.login-container {
  padding: 20px;
}

.button-layout {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.login-screen p {
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

p span {
  color: red;
}

.login-screen h1 {
  font-size: large;
  margin-bottom: 20px;
  font-family: monospace;
}

.login-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.login-button {
  width: fit-content;
  padding-right: 36px;
  padding-left: 36px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  background-color: #8d96a4;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 2px;
}

.input-info {
  width: 220px;
  height: 24px;
}

.no-acc-layout {
  background-color: #f7f7f8;
  padding: 16px;
  text-align: center;
}

.no-acc-layout a{
  color:blue
}
  
.password-layout {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.password-input-container input{
  position: relative;
  top: -6px;
}

.password-layout p,a {
  font-size: small;
  margin-top: auto;
  margin-bottom: auto;
}

.left-centered{
  margin-left: 20%;
  color: blue;
}

.languages-centered {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info-centered {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  font-size: small;
  color: lightgray;
}

i {
  width: 2px;
  position: relative;
  right: 30px;
  font-size: 20px;
  top: -3px;
  line-height: 42px;
  cursor: pointer;
  color: #03045fc7;
}

.languages-centered select {
  padding: 8px;
}

.languages-centered label {
  margin-top: auto;
  margin-bottom: auto;
}