
<link rel="stylesheet" href="dominik-component.component.css">

<div id="Main_div">
    <div id="Input">
        <div id="Name"><h3 id="Namename">Dominik</h3></div>
        <input id="Input_text" type="text" value="{{display}}">
    </div>
    <div class="keypad">
        <button class="keypad_buttons" id="1" (click)="number_click('1')">1</button>
        <button class="keypad_buttons" id="2" (click)="number_click('2')">2</button>
        <button class="keypad_buttons" id="3" (click)="number_click('3')">3</button>
    </div>
    <div class="keypad">
        <button class="keypad_buttons" id="4" (click)="number_click('4')">4</button>
        <button class="keypad_buttons" id="5" (click)="number_click('5')">5</button>
        <button class="keypad_buttons" id="6" (click)="number_click('6')">6</button>
    </div>
    <div class="keypad">
        <button class="keypad_buttons" id="7" (click)="number_click('7')">7</button>
        <button class="keypad_buttons" id="8" (click)="number_click('8')">8</button>
        <button class="keypad_buttons" id="9" (click)="number_click('9')">9</button>
    </div>
    <div class="keypad">
        <button class="keypad_buttons" id="+" (click)="math_function('+')">+</button>
        <button class="keypad_buttons" id="0" (click)="number_click('0')">0</button>
        <button class="keypad_buttons" id="-" (click)="math_function('-')">-</button>
    </div>
    <div class="keypad">
        <button class="keypad_buttons" id="/" (click)="math_function('/')">/</button>
        <button class="keypad_buttons" id="*" (click)="math_function('*')">*</button>
        <button class="keypad_buttons" id="*" (click)="clear()">C</button>
    </div>
    <div class="keypad">
        <button id="Calculatebtn" (click)="calculate()">Calculate</button>
    </div>

</div>
