
<h1>Calculator</h1>







<div class="parent">
  
  <div class="div1">
    <div class="display" id="display">{{display}}</div>
    <div class="">
      <button type="button" class="bn4" value="1" (click)="appendNum(1)">1</button>
      <button type="button" class="bn4" value="2" (click)="appendNum(2)">2</button>
      <button type="button" class="bn4" value="3" (click)="appendNum(3)">3</button>
      <button type="button" class="bn4" (click)="operand('*')">*</button>
    </div>

    <div class="">
      <button type="button" class="bn4" value="4" (click)="appendNum(4)">4</button>
      <button type="button" class="bn4" value="5" (click)="appendNum(5)">5</button>
      <button type="button" class="bn4" value="6" (click)="appendNum(6)">6</button>
      <button type="button" class="bn4" (click)="operand('/')">/</button>
    </div>

    <div class="">
      <button type="button"  class="bn4" value="7" (click)="appendNum(7)">7</button>
      <button type="button"  class="bn4" value="8" (click)="appendNum(8)">8</button>
      <button type="button"  class="bn4" value="9" (click)="appendNum(9)">9</button>
      <button type="button" class="bn4" (click)="operand('+')">+</button>
    </div>
  </div>
  <div class="">
    <div>
      <button type="button" class="bn4" value="clr" (click)="clear()">clr</button>
      <button type="button" class="bn4" value="0" (click)="appendNum(0)">0</button>
      <button type="button" class="bn4" (click)="calculate()">=</button>
      <button type="button" class="bn4" (click)="operand('-')">-</button>
    </div>
  </div>
  <div class="div3">
    
    <div></div>
    
    <div></div>
  </div>
  </div> 