<p class="text-center fs-1">Restaurants</p>

<div class="d-flex justify-content-center">
  <kendo-grid [data]="gridData" [height]="750" class="bg-black ms-3 me-3">
    <kendo-grid-column
      class="fw-bold"
      field="name"
      title="Name"
      [headerClass]="'justify-content-center bg-secondary text-white'"
      [class]="''"></kendo-grid-column>
    <kendo-grid-column
      class="text-center"
      field="address"
      title="Address"
      [headerClass]="'justify-content-center bg-secondary text-white'"
      [class]="'p-3'"></kendo-grid-column>
    <kendo-grid-column
      class="text-center"
      field="phoneNumber"
      title="Phone Number"
      [headerClass]="'justify-content-center bg-secondary text-white'"
      [class]="''"></kendo-grid-column>
    <kendo-grid-column
      class="text-center"
      field="createdAt"
      title="Created"
      [headerClass]="'justify-content-center bg-secondary text-white'"
      [class]="''"></kendo-grid-column>
  </kendo-grid>
</div>
