<div
  class="d-flex flex-column justify-content-center align-items-center vh-100">
  <div class="text-center">
    <img
      src="./assets/images/logo.png"
      width="300px"
      alt="Danieli Systec Logo" />
  </div>
  <div
    class="login border border-2 rounded-2 mt-5 d-flex justify-content-center align-items-center position-relative h-25">
    <div class="content w-75 h-75 text-center">
      <p class="fs-3 m-0 fw-bold">Error 404</p>
      <button
        type="button"
        class="btn btn-light mt-3"
        [routerLink]="appRoutesConfig.routes.login">
        Back to Login
      </button>
    </div>
  </div>
  <div class="mt-5 text-center fs-5 text-black-50">
    <p [innerHTML]="appConfig.copyright"></p>
  </div>
</div>
