:host {
  display: block;
}
.center{
  border: 2px solid;
  margin: auto;
  width: 20%;
  padding: 10px;
  border-radius: 2px;
  border-color: lightgray;
}
.image{
  width: 80%;
}
.center-image{
  margin: auto;
  width: 20%;
  padding: 10px;
}
.center-login{
  margin: auto;
  width: 25%;
  padding: 10px;
  
}


.btn{

  
  display: inline-block;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #fff;
  background-color: #4f545c;
  transition: background-color .17s ease,color .17s ease;


}
.forma{
  width: 100%; 
  box-sizing: border-box; 
  padding: 5px;
  margin-bottom: 10px;
}
.password-box{

  
  
  display: flex;
  padding-bottom: 20px;
}
.password-box input{
  width: 100%;
  
  
  outline: 0;

}
.password-box img{
  width: 40px;
  height: 29px;
  border: 1px solid;
  border-color: gray;
}

.forgotten-password-link {
  float: right;
  color: blue; 
  text-decoration: underline; 
  cursor: pointer; 
}

.registration{
  background-color: #e3e3e3;
  padding-top: 20px;
  padding-bottom: 20px;
}
.center-selector{
  margin: auto;
  width: 30%;
}