<div class="center-image">
    <img src="assets/images/logo.png" alt="" class="image">
</div>


<div class="center">
    <form action="#" method="post">
        <div class="">
            <label for="username">Username</label>
            <br>
            <input type="text" name="username" class="forma">
            <br>
            <div>
                <label for="password">Password</label>
                <a href="#" class="forgotten-password-link">Forgot password?</a>
            </div>
            <div class="password-box">
                <input type="{{passwordVisible ? 'text' : 'password' }}" name="password" id="" class="">
                <img src="{{passwordVisible ? 'assets/images/eye-close.png' : 'assets/images/eye-open.png'}}" alt="" (click)="toggleVisibility()">
            </div>
        </div>

        <br>
        <div class="center-login">
            <button type="submit" class="btn">Log in</button>
        </div>

        <div class="registration">
            Don't have an account? <a href="#">Create one!</a>
        </div>


        
    </form>
</div>

<div class="center-selector">
    <label for="language">Choose language</label>
    <select name="language" id="">
        <option value="english">English</option>
        <option value="hrvatski">Hrvatski</option>
        <option value="deutsch">Deutsch</option>
    </select>

</div>

<div class="center-selector">
    <span>Copyright Danieli Systec 2024.</span>
</div>