<div class="calculator-wrapper">
    <input class="answer" type="text" value="{{display}}" disabled>

    <div class="num-buttons">
        <button class="button" (click)="numClick('1')">1</button>
        <button class="button" (click)="numClick('2')">2</button>
        <button class="button" (click)="numClick('3')">3</button>
        <button class="button" [disabled]="isButtonDisabled" (click)="op('mul')">x</button>
        <button class="button" (click)="numClick('4')">4</button>
        <button class="button" (click)="numClick('5')">5</button>
        <button class="button" (click)="numClick('6')">6</button>
        <button class="button" [disabled]="isButtonDisabled" (click)="op('dev')">/</button>
        <button class="button" (click)="numClick('7')">7</button>
        <button class="button" (click)="numClick('8')">8</button>
        <button class="button" (click)="numClick('9')">9</button>
        <button class="button" [disabled]="isButtonDisabled" (click)="op('add')">+</button>
        <button class="button" (click)="numClick('0')">0</button>
        <button class="button"(click)="clear()">C</button>
        <button class="button" (click)="calculate()">=</button>
        <button class="button" [disabled]="isButtonDisabled" (click)="op('min')">-</button>
    </div>

</div>