<div class="d-flex flex-nowrap h-100">
  <div
    class="d-flex flex-column p-3 text-white bg-dark justify-content-center min-vh-100 test text-center">
    <a class="d-flex mb-3 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Dario Vidovic</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a
          class="nav-link text-white text-center"
          [routerLink]="appRoutes.routeNames.restaurant">
          Restaurants
        </a>
      </li>
      <li>
        <a
          class="nav-link text-white text-center"
          [routerLink]="appRoutes.routeNames.category">
          Category
        </a>
      </li>
    </ul>
    <hr />
    <div class="d-flex justify-content-center">
      <strong
        ><a
          [routerLink]="appRoutes.routes.login"
          role="button"
          class="text-center"
          (click)="logOut()"
          >Sign out</a
        ></strong
      >
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
