
<h1>calculator</h1>



<div id="display">{{display}}</div>
<div class="tipke">
  <button type="button" value="1" (click)="appendNum(1)">1</button>
  <button type="button" value="2" (click)="appendNum(2)">2</button>
  <button type="button" value="3" (click)="appendNum(3)">3</button>
  <button type="button" value="4" (click)="appendNum(4)">4</button>
  <button type="button" value="5" (click)="appendNum(5)">5</button>
  <button type="button" value="6" (click)="appendNum(6)">6</button>
  <button type="button" value="7" (click)="appendNum(7)">7</button>
  <button type="button" value="8" (click)="appendNum(8)">8</button>
  <button type="button" value="9" (click)="appendNum(9)">9</button>
  <button type="button" value="0" (click)="appendNum(0)">0</button>
  <button type="button" value="0" (click)="clear()">clr</button>
</div>

<div>

  <button type="button">*</button>
  <button type="button">/</button>
  <button type="button">+</button>
  <button type="button">-</button>

</div>
