<div class="wrapper">
    <div class="text-center m-3">
        <img src="../../../assets/images/logo.png" alt="logo" class="img-fluid">
    </div>
    <div class="form-signin w-100 m-auto border border-secondary rounded">
        <form action="" class="p-5" [formGroup]="form" (ngSubmit)="log()" id="login-form">
            <h2 class="bold mb-3">Login</h2>
            <div class="mb-3 form-group">
                <label for="username" class="form-label">Username*</label><br>
                <input type="text" class="form-control" formControlName="username">
            </div>
            <div class="mb-3 d-flex justify-content-between form-group">
                <label for="password" class="form-label">Password*</label>
                <a href="" class="pass-reset">Forgot password?</a>
            </div>
            <div class="mb-3 d-flex align-items-center position-relative">
                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control" formControlName="password">
                <div class="input-group-append position-absolute top-0 bottom-0 end-0">
                    <button class="btn btn-outline-secondary rounded-start-0 border border-start h-100" type="button" (click)="toggleFieldTextType()">
                        <i class="fa" [ngClass]="fieldTextType ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </button>
                </div>
            </div>
            <div class="text-center my-5">
                <button [disabled]="form.invalid" form="login-form" type="submit"
                    class="btn btn-outline-secondary px-5">Login</button>
            </div>
        </form>
        <div class="text-center container-fluid bg-light p-5 ">
            Don't have an account? <a href="">Create one!</a>
        </div>
    </div>
    <div class="language-select d-flex align-items-center justify-content-center mt-3">
        <label for="language-select" class="form-label m-1">Language</label>
        <select name="lang" id="lang-select" class="form-select m-3 w-auto">
            <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
        </select>
    </div>
    <footer class="mt-5 text-center">
        {{config.copyright}}
    </footer>
</div>