<div class="wrapper">
    <img src="../../../assets/images/logo.png" alt="logo">
    <div class="form-container">
        <form action="" class="loginform" [formGroup]="form" (ngSubmit)="log()" id="login-form">
            <h2 class="bold">Login</h2>
            <label for="username">Username*</label><br>
            <div class="container">
                <input type="text" formControlName="username">
            </div>
            <div class="container">
                <label for="password">Password*</label>
                <a href="" class="pass-reset">Forgot password?</a>
            </div>
            <div class="container">
                <input [type]="fieldTextType ? 'text' : 'password'" formControlName="password">
                <button type="button" class="password-shower" (click)="toggleFieldTextType()" >👁️</button>
            </div>
        </form>
        <button [disabled]="form.invalid" form="login-form" type="submit" class="login-button">Login</button>
        <div class="shaded-container">
            Don't have an account? <a href="">Create one!</a>
        </div>
    </div>
    <div class="language-select">
        <label for="language-select">Language</label>
        <select name="lang" id="lang-select">
            <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
        </select>
    </div>
    <footer>
        {{config.copyright}}
    </footer>
</div>