<h1 class="text-center">Restourant</h1>
<kendo-grid
  [data]="gridData"
  [selectable]="true"
  kendoGridSelectBy="id"
  [(selectedKeys)]="mySelection">
  <kendo-grid-checkbox-column
    [width]="40"
    [showSelectAll]="true"></kendo-grid-checkbox-column>
  <kendo-grid-column
    field="id"
    Restaurant="ID"
    [width]="40"></kendo-grid-column>
  <kendo-grid-column
    field="name"
    Restaurant="Restaurant Name"></kendo-grid-column>
  <kendo-grid-column field="location" Restaurant="Address"></kendo-grid-column>
  <kendo-grid-column
    field="createdAt"
    Restaurant="Created At"></kendo-grid-column>
</kendo-grid>
<button class="btn btn-primary" (click)="open()">Delete selected</button>
<kendo-dialog
  title="Please confirm"
  *ngIf="opened"
  (close)="close('cancel')"
  [minWidth]="250"
  [width]="450">
  <p style="margin: 30px; text-align: center">
    Are you sure you want to continue?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="close('no')">No</button>
    <button kendoButton (click)="close('yes')" themeColor="primary">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>
