:host {
  display: block;
}
#Main_div{
  border-style: solid;
  width: fit-content;
  align-items: center;
  align-self: center;
  margin: auto;
  margin-top: 40px;
}
.keypad{
  display: block;
  width: inherit;
  align-items: center;
  margin: auto;
}
.keypad_buttons{
  display: inline;
}
button{
  
  width: 50px;
  height: 50px;
  margin: auto;
}
input{

  width: 150px;
  height: 50px;
  margin: auto;
}
#Calculatebtn{
  border: 2px solid black;
  color: black;
  background-color: #eb5834;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 10px;
}
#Name{
  border-bottom: 2px solid black;
  margin: auto;
}
#Namename{
  text-align: center;
  margin: auto;
}