<div class="w-auto">
  <img
    alt="Company logo"
    src="../../../assets/images/logo.png"
    class="m-auto d-flex justify-content-center mb-5 mt-5"
    width="250"
    height="97" />
  <form [formGroup]="applyform" (submit)="(submitFunction)">
    <div id="main_login_div" class="align-content-center m-auto d-block">
      <h3 class="ms-5 mt-5 mb-4">Register</h3>
      <!-- First name -->
      <label for="Firstname" class="labelAdjustment required">First name</label>
      <div class="d-flex justify-content-center h-100">
        <input
          type="text"
          required
          formControlName="userFirstName"
          id="Firstname"
          class="w-75 rounded border-1 inputHeights" /><br />
      </div>
      <p
        class="text-danger mb-3 labelAdjustment"
        *ngIf="
          applyform.controls['userFirstName'].errors?.['required'] &&
          applyform.controls['userFirstName'].touched
        ">
        This field is required
      </p>
      <p
        class="text-danger mb-3 labelAdjustment"
        *ngIf="
          applyform.controls['userFirstName'].hasError('pattern') &&
          applyform.controls['userFirstName'].touched
        ">
        Cant have whitespace
      </p>
      <!-- Last name -->
      <label for="Lastname" class="labelAdjustment required">Last name</label>
      <div class="d-flex justify-content-center h-100">
        <input
          type="text"
          required
          formControlName="userLastName"
          id="Lastname"
          class="w-75 rounded border-1 inputHeights" /><br />
      </div>
      <p
        class="text-danger mb-3 labelAdjustment"
        *ngIf="
          applyform.controls['userLastName'].errors?.['required'] &&
          applyform.controls['userLastName'].touched
        ">
        This field is required
      </p>
      <p
        class="text-danger mb-3 labelAdjustment"
        *ngIf="
          applyform.controls['userLastName'].hasError('pattern') &&
          applyform.controls['userLastName'].touched
        ">
        Cant have whitespace
      </p>
      <!-- Username -->
      <label for="Username" class="labelAdjustment required">Username</label>
      <div class="d-flex justify-content-center h-100">
        <input
          type="text"
          required
          formControlName="userName"
          id="Username"
          class="w-75 rounded border-1 inputHeights" /><br />
      </div>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          applyform.controls['userName'].errors?.['required'] &&
          applyform.controls['userName'].touched
        ">
        This field is required
      </p>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          applyform.controls['userName'].hasError('minlength') &&
          applyform.controls['userName'].touched
        ">
        Length must be greater than 3
      </p>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          applyform.controls['userName'].hasError('pattern') &&
          applyform.controls['userName'].touched
        ">
        Username must have only letters, numbers, underscore, dot and cannot be
        longer than 20 characters
      </p>

      <!-- Password -->
      <label for="Pass" class="labelAdjustment required">Password</label>
      <div class="d-flex justify-content-center">
        <div class="input-group w-75 h-50">
          <input
            id="Pass"
            required
            formControlName="userPassword"
            aria-activedescendant="selectdetect()"
            [type]="showPassword ? 'text' : 'password'"
            class="required form-control border border-secondary h-50 inputHeights"
            aria-describedby="basic-addon2" />
          <div class="input-group-append">
            <button
              type="button"
              class="input-group-text border border-secondary h-100 pt-2 rounded-start-0 inputHeights"
              id="basic-addon2"
              (click)="showPassword = !showPassword">
              <i
                class="h-100 align-items-center"
                [ngClass]="
                  showPassword ? 'fa-solid fa-eye' : 'fa-regular fa-eye-slash'
                "></i>
            </button>
          </div>
        </div>
      </div>
      <p
        class="text-danger mb-3 labelAdjustment"
        *ngIf="
          applyform.controls['userPassword'].errors?.['required'] &&
          applyform.controls['userPassword'].touched
        ">
        This field is required
      </p>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          (applyform.controls['userPassword'].hasError('pattern') ||
            applyform.controls['userPassword'].hasError('minlength')) &&
          applyform.controls['userPassword'].touched
        ">
        Password must contain at least one number, uppercase, lowercase, have at
        least 8 characters and cannot contain whitespace
      </p>
      <!-- Password confirm-->
      <label for="Passconfirm" class="labelAdjustment required"
        >Confirm password</label
      >
      <div class="d-flex justify-content-center">
        <div class="input-group w-75 h-50">
          <input
            id="Passconfirm"
            required
            formControlName="userPasswordConfirm"
            aria-activedescendant="selectdetect()"
            [type]="showPassword ? 'text' : 'password'"
            class="required form-control border border-secondary h-50 inputHeights"
            aria-describedby="basic-addon3" />
          <div class="input-group-append">
            <button
              type="button"
              class="input-group-text border border-secondary h-100 pt-2 rounded-start-0 inputHeights"
              id="basic-addon3"
              (click)="showPassword = !showPassword">
              <i
                class="h-100 align-items-center"
                [ngClass]="
                  showPassword ? 'fa-solid fa-eye' : 'fa-regular fa-eye-slash'
                "></i>
            </button>
          </div>
        </div>
      </div>
      <p
        class="text-danger mb-3 labelAdjustment"
        *ngIf="
          applyform.controls['userPasswordConfirm'].errors?.['required'] &&
          applyform.controls['userPasswordConfirm'].touched
        ">
        This field is required
      </p>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          (applyform.controls['userPasswordConfirm'].hasError('pattern') ||
            applyform.controls['userPasswordConfirm'].hasError('minlength')) &&
          applyform.controls['userPasswordConfirm'].touched
        ">
        Password must contain at least one number, uppercase, lowercase, have at
        least 8 characters and cannot contain whitespace
      </p>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          applyform.controls['userPasswordConfirm'].value !==
            applyform.controls['userPassword'].value &&
          applyform.controls['userPasswordConfirm'].touched
        ">
        Passwords do not match
      </p>
      <!-- Email -->
      <label for="Username" class="labelAdjustment required">Email</label>
      <div class="d-flex justify-content-center h-100">
        <input
          type="text"
          required
          formControlName="userEmail"
          id="Username"
          class="w-75 rounded border-1 inputHeights" /><br />
      </div>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          applyform.controls['userEmail'].errors?.['required'] &&
          applyform.controls['userEmail'].touched
        ">
        This field is required
      </p>
      <p
        class="text-danger labelAdjustment"
        *ngIf="
          applyform.controls['userEmail'].hasError('pattern') &&
          applyform.controls['userEmail'].touched
        ">
        E-mail is invalid
      </p>
      <br />
      <!-- Register btn -->
      <div class="d-flex justify-content-center">
        <button
          type="submit"
          [disabled]="applyform.invalid"
          class="mt-4 mb-4 btn btn-secondary"
          id="loginbtn">
          Register
        </button>
        <!-- Back btn -->
        <button
          type="button"
          class="mt-4 mb-4 btn btn-light ms-5"
          id="loginbtn">
          Back
        </button>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <p *ngIf="loginMsg !== ''">{{ loginMsg }}</p>
      </div>
    </div>
  </form>
  <p
    id="CR"
    class="text-secondary text-opacity-25 mt-5 d-flex justify-content-center">
    {{ appCnfg.copyright }}
  </p>
</div>
