<div>
    <div class="logo">
        <img src="../../../assets/images/logo.png" width="300px" alt="Danieli Systec Logo">
    </div>
    <div class="login">
        <div class="content">
            <p>Login</p>

            <form method="POST" class="form-container">
                <label for="username">Username<span class="required">*</span></label>
                <input type="text" name="username" id="username" class="input-form">

                <label for="password" class="password-label">Password<span class="required">*</span><span
                        class="passForgot"><a href="">Forgot password?</a></span></label>
                <div class="password-wrapper">
                    <input type="password" class="input-form" [type]="show ? 'password' : 'text'">
                    <button type="button" class="toggle-password" (click)="show = !show"><i class="fa-solid fa-eye"></i></button>
                </div>

                <div class="submit-button-container">
                    <button type="submit" class="submit">Login</button>
                  </div>
            </form>
        </div>
        <div class="signUp">
            <p>Don't have an account? <a href="">Create one!</a></p>
        </div>
    </div>
    <div class="language">
        <p>Language</p>
        <select>
            <option *ngFor="let language of appLanguages.languageOptions" [value]="language.code">{{language.name}}</option>
        </select>
    </div>

    <div class="footer">
        <p [innerHTML]="appConfig.copyright"></p>
    </div>
</div>