:host {
  display: block;
}

.login {
  height: 500px;
  width: 450px;
}

.input-form {
  height: 40px;
}

.showPass {
  width: 40px;
}

.submit {
  height: 30px;
}

.signUp {
  background-color: rgb(242, 240, 240);
  height: 60px;
}

.required:after {
  content: "*";
  color: red;
}
