:host {
  display: block;
}

.login {
  height: 500px;
  width: 450px;
}

.input-form {
  height: 40px;
}

.toggle-password {
  right: 2px;
  bottom: 2px;
  width: 50px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.8);
}

.submit {
  height: 50px;
  background-color: rgb(107, 114, 120);
  margin-left: 80px;
}

.signUp {
  background-color: rgb(242, 240, 240);
  height: 60px;
}