<div>
    <div class="logo">
        <img src="../../../assets/images/logo.png" width="300px" alt="Danieli Systec Logo">
    </div>
    <div class="login">
        <div class="content">
            <p>Login</p>

            <form action="">
                <label for="username">Username<span class="required">*</span></label>
                <input type="text" name="username" id="username">

                <label for="password" class="password-label">Password<span class="required">*</span><span
                        class="passForgot"><a href="">Forgot password?</a></span></label>
                <div class="password-wrapper">
                    <input type="password" class="password-input" placeholder="Password" #passwordInput>
                    <!--<input type="checkbox" (change)="togglePasswordVisibility(passwordInput)">-->
                </div>

                <input type="submit" class="submit" value="Login">
            </form>
        </div>
        <div class="signUp">
            <p>Don't have an account?  <a href="">Create one!</a></p>
        </div>
    </div>
    <div class="language">
        <p>Language</p>
        <select>
            <option value="en">English</option>
            <option value="de">German</option>
        </select>
    </div>

    <div>
        
    </div>
</div>
