:host {
  display: block;
}

.login {
  width: 500px;
}

.input-form {
  height: 40px;
}

.showPass {
  width: 40px;
}

.submit {
  height: 50px;
  width: 40%;
}

.required:after {
  content: "*";
  color: red;
}

.error {
  font-size: 12px;
}
