<div class="container d-flex flex-column align-items-center vh-100">
  <div class="text-center mt-3">
    <img
      src="./assets/images/logo.png"
      width="300px"
      alt="Danieli Systec Logo" />
  </div>
  <div
    class="login d-flex flex-column align-items-center border border-2 rounded-2 mt-3">
    <div class="w-75 mt-5 mb-5 h-auto">
      <p class="fs-5 m-0 fw-bold mb-2">Register</p>
      <form
        [formGroup]="registerForm"
        (submit)="onSubmit()"
        class="d-flex flex-column">
        <label for="firstName" class="required fs-6 text-black-50 d-block"
          >First Name</label
        >
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          class="input-form d-block border border-2 rounded-2 w-100"
          required />
        <div
          *ngIf="
            registerForm.controls['firstName'].invalid &&
            registerForm.controls['firstName'].touched
          ">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['firstName'].errors?.['required']"
            >Field is required.</span
          >
        </div>
        <div *ngIf="registerForm.controls['firstName'].invalid">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['firstName'].hasError('pattern')"
            >First name can contain only uppercase and lowercase</span
          >
        </div>
        <label for="lastName" class="required fs-6 text-black-50 mt-2 d-block"
          >Last Name</label
        >
        <input
          type="text"
          formControlName="lastName"
          id="lastName"
          class="input-form d-block border border-2 rounded-2 w-100"
          required />
        <div
          *ngIf="
            registerForm.controls['lastName'].invalid &&
            registerForm.controls['lastName'].touched
          ">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['lastName'].errors?.['required']"
            >Field is required.</span
          >
        </div>
        <div *ngIf="registerForm.controls['lastName'].invalid">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['lastName'].hasError('pattern')"
            >Last name can contain only uppercase and lowercase</span
          >
        </div>
        <label for="username" class="required fs-6 text-black-50 mt-2 d-block"
          >Username</label
        >
        <input
          type="text"
          formControlName="username"
          id="username"
          class="input-form d-block border border-2 rounded-2 w-100"
          required />
        <div
          *ngIf="
            registerForm.controls['username'].invalid &&
            registerForm.controls['username'].touched
          ">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['username'].errors?.['required']">
            Username is required.
          </span>
        </div>
        <div *ngIf="registerForm.controls['username'].invalid">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['username'].hasError('minlength')">
            Lenght must be greater than 3
          </span>
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['username'].hasError('pattern')">
            Username must have only letters, numbers, underscore, or dot.
          </span>
        </div>
        <label for="password" class="required fs-6 text-black-50 mt-2 d-block"
          >Password</label
        >
        <div class="input-group">
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control border border-2"
            [type]="show ? 'password' : 'text'"
            aria-label="Password"
            aria-describedby="toggle-password"
            required />
          <button
            class="showPass input-group-text bg-white d-flex justify-content-center align-items-center border border-2"
            type="button"
            id="toggle-password"
            (click)="show = !show">
            <i
              class="text-center"
              [ngClass]="
                show ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
              "></i>
          </button>
        </div>
        <div
          *ngIf="
            registerForm.controls['password'].invalid &&
            registerForm.controls['password'].touched
          ">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['password'].errors?.['required']">
            Password is required.
          </span>
        </div>
        <div *ngIf="registerForm.controls['password'].invalid">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['password'].hasError('minlength')">
            Lenght must be greater than 8
            <br />
          </span>
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['password'].hasError('pattern')">
            Password must contain at least one number, uppercase, lowercase,
            have at least 8 characters and cannot contain whitespace
          </span>
        </div>
        <label
          for="repeatPassword"
          class="required fs-6 text-black-50 mt-2 d-block"
          >Repeat Password</label
        >
        <div class="input-group">
          <input
            type="password"
            id="repeatPassword"
            formControlName="repeatPassword"
            class="form-control border border-2"
            [type]="showRepeat ? 'password' : 'text'"
            aria-label="repeatPassword"
            aria-describedby="toggle-repeatPassword"
            required />
          <button
            class="showPass input-group-text bg-white d-flex justify-content-center align-items-center border border-2"
            type="button"
            id="toggle-repeatPassword"
            (click)="showRepeat = !showRepeat">
            <i
              class="text-center"
              [ngClass]="
                showRepeat ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
              "></i>
          </button>
        </div>
        <div
          *ngIf="
            registerForm.controls['repeatPassword'].invalid &&
            registerForm.controls['repeatPassword'].touched
          ">
          <span
            class="error text-danger"
            *ngIf="
              registerForm.controls['repeatPassword'].errors?.['required']
            ">
            Password is required.
          </span>
        </div>
        <div *ngIf="registerForm.controls['repeatPassword'].invalid">
          <span
            class="error text-danger"
            *ngIf="
              registerForm.controls['repeatPassword'].hasError('minlength')
            ">
            Lenght must be greater than 8
            <br />
          </span>
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['repeatPassword'].hasError('pattern')">
            Password must contain at least one number, uppercase, lowercase,
            have at least 8 characters and cannot contain whitespace
          </span>
        </div>
        <div
          *ngIf="
            registerForm.controls['repeatPassword'].valid &&
            registerForm.controls['password'].valid
          ">
          <span
            *ngIf="
              registerForm.controls['repeatPassword'].value ===
              registerForm.controls['password'].value
            "
            class="error text-success">
            Passwords match
          </span>
          <span
            *ngIf="
              registerForm.controls['repeatPassword'].value !==
              registerForm.controls['password'].value
            "
            class="error text-danger">
            Passwords do not match
          </span>
        </div>
        <label for="email" class="required fs-6 text-black-50 mt-2 d-block"
          >Email</label
        >
        <input
          type="text"
          formControlName="email"
          id="email"
          class="input-form d-block border border-2 rounded-2 w-100"
          required />
        <div
          *ngIf="
            registerForm.controls['email'].invalid &&
            registerForm.controls['email'].touched
          ">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['email'].errors?.['required']">
            Email is required.
          </span>
        </div>
        <div *ngIf="registerForm.controls['email'].invalid">
          <span
            class="error text-danger"
            *ngIf="registerForm.controls['email'].hasError('pattern')">
            Email doesn't match default email pattern
          </span>
        </div>
        <div class="submit-button-container d-flex justify-content-center mt-5">
          <button
            type="submit"
            class="submit text-light border rounded-2 fs-6 me-4"
            [ngClass]="
              registerForm.invalid ||
              registerForm.controls['repeatPassword'].value !==
                registerForm.controls['password'].value
                ? ''
                : 'bg-secondary'
            "
            [disabled]="
              registerForm.invalid ||
              registerForm.controls['repeatPassword'].value !==
                registerForm.controls['password'].value
            ">
            Register
          </button>
          <button
            type="button"
            class="submit border rounded-2 fs-6 bg-light"
            [routerLink]="appRoutesConfig.routes.login">
            Back
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-5 text-center fs-5 text-black-50">
    <p [innerHTML]="appConfig.copyright"></p>
  </div>
</div>
