<h1>Restoraunts</h1>
<form>
  <button kendoButton type="button" class="m-2 bg-danger" (click)="onDelete()">
    Delete
  </button>
  <button kendoButton type="button" class="m-2 bg-info" (click)="onAdd()">
    Add
  </button>
  <kendo-grid
    [data]="gridData"
    class="m-2"
    kendoGridSelectBy="RestoID"
    [selectable]="{ checkboxOnly: true }"
    [(selectedKeys)]="selectedItems">
    <kendo-grid-checkbox-column></kendo-grid-checkbox-column>
    <kendo-grid-column field="Name" title="Name"> </kendo-grid-column>
    <kendo-grid-column field="Address" title="Address"> </kendo-grid-column>
    <kendo-grid-column field="Phone_number" title="Number"> </kendo-grid-column>
    <kendo-grid-column field="Created_date" title="Date"> </kendo-grid-column>
  </kendo-grid>
</form>
