<h1>Restoraunts</h1>
<form (submit)="onDelete()">
  <button type="submit" class="m-2 bg-danger">Delete</button>
  <kendo-grid [data]="gridData" class="m-2" editable:True>
    <kendo-grid-checkbox-column></kendo-grid-checkbox-column>
    <kendo-grid-column field="Name" title="Name"> </kendo-grid-column>
    <kendo-grid-column field="Address" title="Address"> </kendo-grid-column>
    <kendo-grid-column field="Phone_number" title="Number"> </kendo-grid-column>
    <kendo-grid-column field="Created_date" title="Date"> </kendo-grid-column>
  </kendo-grid>
</form>
