<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div
        class="d-flex flex-column p-3 bg-light vh-100 border"
        style="width: 280px">
        <a
          [routerLink]="routes.routeNames.restaurant"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Home</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a
              [routerLink]="routes.routeNames.restaurant"
              class="nav-link text-decoration-none link-dark"
              aria-current="page">
              <i class="fa-solid fa-utensils"></i>
              Restaurant
            </a>
          </li>
          <li>
            <a
              [routerLink]="routes.routeNames.categories"
              class="nav-link link-dark">
              <i class="fa-solid fa-list"></i>
              Categories
            </a>
          </li>
        </ul>
        <hr />
        <div class="dropdown flex-grow">
          <i class="fa-solid fa-right-from-bracket ms-3"></i>
          <a
            (click)="onLogout()"
            [routerLink]="routes.routesConfig.login"
            class="text-decoration-none p-2"
            >Logout</a
          >
        </div>
      </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
