<div class="w-auto maindiv">
  <img
    alt="Company logo"
    src="../../../assets/images/logo.png"
    class="m-auto d-flex justify-content-center mb-5 mt-5"
    width="250"
    height="97" />

  <div class="m-auto d-flex justify-content-center">
    <div class="othermaindiv border-black bg-warning w-50">
      <div class="m-auto d-flex justify-content-center mb-3 mt-3">
        <H1>Error: Page not found!</H1>
      </div>
      <div class="m-auto d-flex justify-content-center">
        <p class="me-2">
          <a routerLink="{{ routesConfig.login }}">Go back to login</a>
        </p>
        <p class="ms-2">
          <a routerLink="{{ routesConfig.register }}">Go back to register</a>
        </p>
      </div>
    </div>
  </div>
</div>
