<div class="d-flex justify-content-center">
  <img src="assets/images/logo.png" alt="" class="img-responsive" />
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <form class="container-fluid border rounded" [formGroup]="myForm">
        <div class="">
          <h2 class="login-header">Register</h2>

          <label for="firstName" class="form-label">First name</label>
          <input
            type="text"
            id="firstName"
            class="form-control"
            required
            formControlName="firstName" />

          <div
            *ngIf="
              myForm.controls['firstName'].invalid &&
              myForm.controls['firstName'].touched
            ">
            <span
              class="text-danger"
              *ngIf="myForm.controls['firstName'].errors?.['required']"
              >First name is required.
            </span>
            <span
              class="text-danger"
              *ngIf="myForm.controls['firstName'].hasError('pattern')">
              Invalid name
            </span>
          </div>

          <label for="last_name" class="required">Last name</label>

          <input
            type="text"
            class="forma form-control"
            required
            formControlName="lastName"
            id="last_name" />
          <div
            *ngIf="
              myForm.controls['lastName'].invalid &&
              myForm.controls['lastName'].touched
            ">
            <span
              class="text-danger"
              *ngIf="myForm.controls['lastName'].errors?.['required']"
              >Last name is required.
            </span>
            <span
              class="text-danger"
              *ngIf="myForm.controls['lastName'].hasError('pattern')">
              Invalid name
            </span>
          </div>

          <label for="username" class="required">Username</label>

          <input
            type="text"
            class="forma form-control"
            required
            id="username"
            formControlName="username" />
          <div
            *ngIf="
              myForm.controls['username'].invalid &&
              myForm.controls['username'].touched
            "
            class="text-danger">
            Username is required
          </div>

          <div
            class="text-danger"
            *ngIf="myForm.controls['username'].hasError('pattern')">
            Invalid username
          </div>

          <div>
            <label for="password" class="required">Password</label>
          </div>
          <div class="input-group">
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control border border-2"
              [type]="passwordVisible ? 'password' : 'text'"
              aria-label="Password"
              aria-describedby="toggle-password"
              required />
            <button
              class="showPass input-group-text bg-white d-flex justify-content-center align-items-center border border-2"
              type="button"
              id="toggle-password"
              (click)="passwordVisible = !passwordVisible">
              <i
                class="text-center"
                [ngClass]="
                  passwordVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
                "></i>
            </button>
          </div>
          <div
            *ngIf="
              myForm.controls['password'].invalid &&
              myForm.controls['password'].touched
            ">
            <span
              class="text-danger"
              *ngIf="myForm.controls['password'].errors?.['required']"
              >Field is required.
            </span>
          </div>
          <div
            class="text-danger"
            *ngIf="
              myForm.controls['password'].hasError('minlength') &&
              myForm.controls['password'].touched
            ">
            Password must be at least 8 characters long.
          </div>
        </div>

        <div>
          <label for="repeat_password" class="required">Repeat password</label>
        </div>
        <div class="input-group">
          <input
            type="password"
            id="repeat_password"
            formControlName="repeatPassword"
            class="form-control border border-2"
            [type]="passwordVisible ? 'password' : 'text'"
            aria-label="Password"
            aria-describedby="toggle-password"
            required />
          <button
            class="showPass input-group-text bg-white d-flex justify-content-center align-items-center border border-2"
            type="button"
            id="toggle-password"
            (click)="passwordVisible = !passwordVisible">
            <i
              class="text-center"
              [ngClass]="
                passwordVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'
              "></i>
          </button>
        </div>
        <div *ngIf="myForm.controls['password'].valid">
          <span
            *ngIf="
              myForm.controls['repeatPassword'].value !==
              myForm.controls['password'].value
            "
            class="error text-danger"
            >Passwords do not match</span
          >
        </div>

        <label for="email" class="form-label">E-mail</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email" />
        <div
          *ngIf="
            myForm.controls['email'].errors?.['required'] &&
            myForm.controls['email'].touched
          "
          class="text-danger">
          Field is required
        </div>
        <div
          *ngIf="
            myForm.controls['email'].dirty &&
            myForm.controls['email'].hasError('pattern')
          "
          class="text-danger">
          E-mail is invalid
        </div>

        <br />

        <div class="d-flex justify-content-center p-2">
          <button
            type="submit"
            class="btn btn-primary mx-3 px-2"
            [disabled]="myForm.invalid">
            Register
          </button>

          <button type="button" class="btn btn-secondary mx-3 px-2">
            Go back
          </button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="mt-3 h-100 d-flex align-items-center justify-content-center">
  <label for="language">Choose language:</label>
  <select name="language" id="">
    <option value="{{ appConfig['defaultLanguage'] }}">
      {{ appConfig.defaultLanguage }}
    </option>
  </select>
</div>

<div class="mt-3 h-100 d-flex align-items-center justify-content-center">
  <span [innerHTML]="appConfig.copyright"></span>
</div>
<a routerLink="/login">jebotepas2</a>

<router-outlet></router-outlet>
