<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark vh-100 w-25">
  <span class="fs-4 d-flex align-items-center mb-3 mb-md-0 me-md-auto"
    >Ime Prezime</span
  >
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="{{ AppRoutesConfig.routes.restaurants }}"
        class="link nav-link text-white">
        Restaurants
      </a>
    </li>
    <li>
      <a
        routerLink="{{ AppRoutesConfig.routes.category }}"
        class="link nav-link text-white">
        Category
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <a
      class="text-decoration-none text-white"
      routerLink="{{ AppRoutesConfig.routes.login }}"
      >Sign out</a
    >
  </div>
</div>
