:host {
  display: block;
}

.icon-container{
    width: 32px;
}

.required:after {
  content: "*";
  color: red;
  font-weight: 00;
}

.no-acc-layout {
  background-color: #f7f7f8;
  text-align: center;
}

i {
    cursor: pointer;
}

.info {
  width: 500px;
}


