<kendo-grid
  class="p-3 text-center"
  [data]="restaurants"
  [selectable]="{ enabled: true, checkboxOnly: true }">
  <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
  <kendo-grid-column
    field="name"
    class="text-center"
    headerClass="justify-content-center"
    title="Name"></kendo-grid-column>
  <kendo-grid-column
    headerClass="center-me"
    class="text-center"
    headerClass="justify-content-center"
    field="address"
    title="Address">
  </kendo-grid-column>
  <kendo-grid-column
    class="text-center"
    headerClass="justify-content-center"
    field="phoneNumber"
    title="Phone number">
  </kendo-grid-column>
  <kendo-grid-column
    class="text-center"
    headerClass="justify-content-center"
    field="createdDate"
    title="Created date">
  </kendo-grid-column>
</kendo-grid>
