<kendo-grid
  class="p-3 text-center"
  [data]="restaurants"
  kendoGridSelectBy="id"
  [(selectedKeys)]="selectedItems"
  [selectable]="{ enabled: true, checkboxOnly: true }">
  <kendo-grid-checkbox-column [width]="40"></kendo-grid-checkbox-column>
  <kendo-grid-column
    field="name"
    class="text-center"
    headerClass="justify-content-center"
    title="Name"></kendo-grid-column>
  <kendo-grid-column
    headerClass="center-me"
    class="text-center"
    headerClass="justify-content-center"
    field="address"
    title="Address">
  </kendo-grid-column>
  <kendo-grid-column
    class="text-center"
    headerClass="justify-content-center"
    field="phoneNumber"
    title="Phone number">
  </kendo-grid-column>
  <kendo-grid-column
    class="text-center"
    headerClass="justify-content-center"
    field="createdDate"
    title="Created date">
  </kendo-grid-column>
</kendo-grid>
<kendo-button
  [disabled]="selectedItems.length <= 0"
  iconClass="fa-solid fa-trash"
  (click)="open()"
  >Delete</kendo-button
>

<kendo-dialog
  title="Please confirm"
  *ngIf="opened"
  (close)="close('cancel')"
  [minWidth]="250"
  [width]="450">
  <p style="margin: 30px; text-align: center">
    Are you sure you want to continue?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="close('no')">No</button>
    <button kendoButton (click)="close('yes')" themeColor="primary">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>
