<div class="w-auto">
  <img
    alt="Company logo"
    src="../../../assets/images/logo.png"
    class="m-auto d-flex justify-content-center mb-5 mt-5"
    width="250"
    height="97" />
  <form [formGroup]="applyform" (submit)="(submitFunction)">
    <div id="main_login_div" class="align-content-center m-auto d-block">
      <h3 class="ms-5 mt-5 mb-4">Login</h3>
      <label for="Username" class="ms-sm-5 required">Username</label>
      <div class="d-flex justify-content-center h-100">
        <input
          type="text"
          required
          formControlName="userName"
          id="Username"
          class="w-75 rounded border-1 inputHeights" /><br />
      </div>
      <p
        class="text-danger ms-5"
        *ngIf="
          applyform.controls['userName'].errors?.['required'] &&
          applyform.controls['userName'].touched
        ">
        This field is required
      </p>
      <label for="Pass" class="ms-sm-5 required">Password</label>
      <label for="Pass" class="float-end me-5"
        ><a href="">Forgot password?</a></label
      >
      <div class="d-flex justify-content-center">
        <div class="input-group w-75 h-50">
          <input
            id="Pass"
            required
            formControlName="userPassword"
            aria-activedescendant="selectdetect()"
            [type]="showPassword ? 'text' : 'password'"
            class="required form-control border border-secondary h-50 inputHeights"
            aria-describedby="basic-addon2" />
          <div class="input-group-append">
            <button
              type="button"
              class="input-group-text border border-secondary h-100 pt-2 rounded-start-0 inputHeights"
              id="basic-addon2"
              (click)="showPassword = !showPassword">
              <i
                class="h-100 align-items-center"
                [ngClass]="
                  showPassword ? 'fa-solid fa-eye' : 'fa-regular fa-eye-slash'
                "></i>
            </button>
          </div>
        </div>
      </div>
      <p
        class="text-danger mb-3 ms-5"
        *ngIf="
          applyform.controls['userPassword'].errors?.['required'] &&
          applyform.controls['userPassword'].touched
        ">
        This field is required
      </p>
      <br />
      <div class="d-flex justify-content-center">
        <button
          (click)="onSubmit()"
          type="submit"
          [disabled]="applyform.invalid"
          class="mt-4 mb-4 btn btn-secondary"
          id="loginbtn">
          Login
        </button>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <p *ngIf="loginMsg !== ''">{{ loginMsg }}</p>
      </div>
      <div id="createaccdiv">
        <div
          id="creatediv"
          class="align-middle bg-body-secondary bg-opacity-50 mt-3 h-100">
          <p
            id="createacctxt"
            class="align-middle m-auto d-flex justify-content-center mb-0">
            Don't have an account?

            <a
              routerLink="{{ routesConfig.register }}"
              class="align-middle ms-1"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
              >Create one!</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <p class="d-flex justify-content-center">
        Language
        <select id="languageselect" class="ms-3" name="languares">
          <option *ngFor="let lang of Lan" value="{{ lang.code }}">
            {{ lang.name }}
          </option>
        </select>
      </p>
    </div>
  </form>
  <p
    id="CR"
    class="text-secondary text-opacity-25 mt-5 d-flex justify-content-center">
    {{ appCnfg.copyright }}
  </p>
</div>
