:host {
  display: block;
}
#main_login_div{
  width: 23em;
  border: 1px solid gainsboro;
}
#Password{
  width: 65%;
  margin-left: 12.5%;
}
#hiddenbtn{
  width: 10%;
}
#loginbtn{
  width: 35%;
}
#createaccdiv{
  height: 3em;
}
#creatediv{
  padding-top: 3%;
}
#languageselect{
  height: 2em;
}