<div class="w-auto">
    <img src="../../../assets/images/logo.png" class="m-auto d-flex justify-content-center mb-5 mt-5" width="250" height="97">
    <form>    
        <div id="main_login_div" class="align-content-center m-auto d-block ">
            <h3 class="ms-5 mt-5 mb-4">Login</h3>
            <label for="Username" class="ms-sm-5  ">Username</label>
            
            <div class="d-flex justify-content-center">
            
                <input type="text" id="Username" class="w-75  h-50 mb-3 ">
            </div>
            
            <label for="Password" class="ms-sm-5  ">Password</label>
            <label for="Password" class="float-end me-5"><a href="">Forgot password?</a></label>
   
            <input type="password" id="Password" >
            <button id="hiddenbtn">👁</button>


            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="disabled mt-4 mb-4 btn btn-secondary" id="loginbtn">Login</button>
            </div>
            <div id="createaccdiv">
                <div id="creatediv" class="align-middle bg-body-secondary bg-opacity-50  mt-3 h-100" >
                    <p id="createacctxt" class="align-middle m-auto d-flex justify-content-center mb-0 ">Don't have an account? <a href="" class="align-middle ms-1">Create one!</a></p>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <p class="d-flex justify-content-center ">Language <select id="languageselect" class="ms-3" name="languares">
                <option *ngFor="let lang of Lan; " value="{{lang.code}}">{{lang.name}}</option>
                </select>
            </p>
        </div>
    </form>
    <p id="CR" class="text-secondary text-opacity-25  mt-5 d-flex justify-content-center ">{{appCnfg.copyright}}</p>
    
</div>
